@import url("./css/wave.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: white;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Inter" ,Arial, Helvetica, sans-serif;
}
