@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./css/bg.css');

:root {
  --background: black;
  --foreground: white;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Inter" ,Arial, Helvetica, sans-serif;
}
